---
---

@font-face{
    font-family: 'Fira Sans';
    src: url("FiraSans-Regular-Subset.ttf") format("truetype");
}
$fontsize: 100%; // 16px
$lineheight: 1.5; // 24px
$basefont: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$text_color: rgba(0, 0, 0, .8);
$text_color_gray: rgba(0, 0, 0, .6);
$text_color_dark: #000;
$background: #fff;
$highlight_color: #f50;


$breakpoint_small: 300px + 8px * 2;
$breakpoint_medium: 600px + 8px * 2;
$breakpoint_large: 600px * 2 + 16px * 3;
$image_width: 600px;
$image_height: 400px;
$image_width_small: 300px;
$image_height_small: 200px;

@mixin media-max-width($width) {
    @media (max-width: $width) {
        @content;
    }
}
@mixin media-min-width($width) {
    @media (min-width: $width) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    color: $text_color;
    background: $background;
    text-align: center;
    overflow-x: hidden;
    font: #{$fontsize}/#{$lineheight} $basefont;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link, a:visited {
    color: $text_color_dark;
    text-decoration: underline;
}
::selection {
    color: $background;
    background: $highlight_color;
}

header {
    height: 240px;
    overflow: hidden;
    a[rel="home"], h1 {
        display: block;
        width: 224px;
        height: 120px;
        overflow: hidden;
        margin: 64px auto 0;
    }
    h1 {
        margin: 0;
        text-indent: -9999px;
        background: url("logo.svg") no-repeat 50% 0;
    }
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 240px;
    height: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, .8);
    font-size: 75%;
    text-decoration: none;
    white-space: nowrap;
    transition: all 200ms cubic-bezier(0.6, 0, 0.4, 1);
    -webkit-transform: translate(50%, -50%) rotate(45deg) translateY(64px);
    -moz-transform: translate(50%, -50%) rotate(45deg) translateY(64px);
    -ms-transform: translate(50%, -50%) rotate(45deg) translateY(64px);
    -o-transform: translate(50%, -50%) rotate(45deg) translateY(64px);
    transform: translate(50%, -50%) rotate(45deg) translateY(64px);
    &:link, &:visited {
        color: #fff;
        text-decoration: none;
    }
    &:hover, &:active {
        background: $highlight_color;
    }
}

.plugins {
    margin: 0 auto 2.5rem;
    li {
        margin: 0 auto 1rem;
        width: $image_width;
    }
    .item-figure {
        position: relative;
        margin-bottom: .5rem;
        width: $image_width;
        height: $image_height;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2);
        &:hover .item-links a {
            opacity: 1;
            margin-right: 0;
        }
    }
    .item-image {
        display: block;
        width: $image_width;
        height: $image_height;
        border-radius: 5px;
    }
    .item-links {
        position: absolute;
        right: .5rem;
        bottom: 0;
        a {
            display: block;
            float: right;
            clear: right;
            height: 2.25rem;
            line-height: 2.25rem;
            font-size: 87.5%;
            padding: 0 .5rem 0 .6rem;
            margin-bottom: .5rem;
            background-color: #FFAA00;
            border-radius: 4px;
            opacity: 0;
            margin-right: -100px;
            transition: all 200ms cubic-bezier(0, 0, 0.4, 1.0);
            &:link, &:visited {
                color: #fff;
                text-decoration: none;
            }
            &:hover, &:active {
                background-color: $highlight_color;
            }
            i {
                display: block;
                float: right;
                width: 24px;
                height: 24px;
                margin: .375rem 0 .375rem .5rem;
                background: url("icon_sprite.svg") no-repeat 0 0;
            }
            &.link-code {
                i {
                    background-position: 0 0;
                }
            }
            &.link-download {
                transition-delay: 100ms;
                i {
                    background-position: 0 -24px;
                }
            }
        }
    }
    .item-title {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

footer {
    width: $image_width;
    margin: 0 auto 2.5rem;
    .diver {
        width: 200px;
        height: 2px;
        margin: 0 auto 2.5rem;
        background: rgba(0, 0, 0, .2);
    }
    .author {
        color: $text_color_gray;
    }
}

@include media-max-width($breakpoint_medium) {
    .ribbon {
        display: none;
    }
    .plugins {
        li {
            width: $image_width_small;
        }
        .item-figure, .item-image {
            width: $image_width_small;
            height: $image_height_small;
        }
    }
    footer {
        width: $image_width_small;
        .diver {
            width: 100px;
        }
    }
}

@include media-min-width($breakpoint_large) {
    .plugins {
        width: $image_width * 2 + 16px;
        li {
            float: left;
            margin-right: 1rem;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        &:after {
            content: ".";
            display: block;
            clear: both;
            height: 0;
            overflow: hidden;
        }
    }
    footer {
        width: $image_width * 2 + 16px;
        .diver {
            width: 400px;
        }
    }
}