---
---

@font-face{
    font-family: 'Fira Sans';
    src: url("FiraSans-Regular-Subset.ttf") format("truetype");
}
$fontsize: 100%; // 16px
$lineheight: 1.5; // 24px
$basefont: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$text_color: rgba(0, 0, 0, .8);
$text_color_dark: #000;
$background: #fff;
$highlight_color: #f00;


$breakpoint_small: 300px + 8px * 2;
$breakpoint_medium: 600px + 8px * 2;
$breakpoint_large: 600px * 2 + 16px * 3;
$image_width: 600px; // 4:3
$image_height: 400px;
$image_width_small: 300px;
$image_height_small: 300px * 3 / 4;

@mixin media-max-width($width) {
    @media (max-width: $width) {
        @content;
    }
}
@mixin media-min-width($width) {
    @media (min-width: $width) {
        @content;
    }
}



body, ul, p, figure {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    overflow-x: hidden;
    font: #{$fontsize}/#{$lineheight} $basefont;
}
ul {
    list-style: none;
}

a:link, a:visited {
    color: $text_color_dark;
    text-decoration: underline;
}

header {
    height: 240px;
    overflow: hidden;
    h1 {
        width: 224px;
        height: 120px;
        overflow: hidden;
        margin: 64px auto 0;
        text-indent: -9999px;
        background: url("logo.svg") no-repeat 50% 0;
    }
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 240px;
    height: 30px;
    line-height: 30px;
    background: rgba(0, 0, 0, .8);
    font-size: 75%;
    text-decoration: none;
    white-space: nowrap;
    transition: all 200ms cubic-bezier(0.6, 0, 0.4, 1);
    -webkit-transform: translate(50%, -50%) rotate(45deg) translateY(64px);
    -moz-transform: translate(50%, -50%) rotate(45deg) translateY(64px);
    -ms-transform: translate(50%, -50%) rotate(45deg) translateY(64px);
    -o-transform: translate(50%, -50%) rotate(45deg) translateY(64px);
    transform: translate(50%, -50%) rotate(45deg) translateY(64px);
    &:link, &:visited {
        color: #fff;
        text-decoration: none;
    }
    &:hover, &:active {
        background: $highlight_color;
    }
}

.plugins {
    margin: auto;
    li {
        margin: 0 auto 1rem;
        width: $image_width;
    }
    .item-figure {
        position: relative;
        margin-bottom: .5rem;
        width: $image_width;
        height: $image_height;
        overflow: hidden;
        &:hover .item-links {
            //visibility: visible;
            opacity: 1;
            right: .5rem;
            a.link-download {
                margin-right: 0;
            }
        }
    }
    .item-image {
        display: block;
        width: $image_width;
        height: $image_height;
        border-radius: 5px;
    }
    .item-links {
        //visibility: hidden;
        position: absolute;
        right: -10rem;
        bottom: 0;
        opacity: 0;

        transition: all 200ms cubic-bezier(0, 0, 0.4, 1.0);


        a {
            display: block;
            float: right;
            clear: right;
            height: 2.25rem;
            line-height: 2.25rem;
            font-size: 87.5%;
            padding: 0 2.5rem 0 .6rem;
            margin-bottom: .5rem;
            background-color: #FFAA00;
            background-position: 100% 50%;
            background-repeat: no-repeat;
            border-radius: 4px;



            &:link, &:visited {
                color: #fff;
                text-decoration: none;
            }
            &.link-code {}
            &.link-download {
                //margin-top: 100px;
                margin-right: -100px;
                transition: all 200ms linear;
            }
        }
    }
}

@include media-max-width($breakpoint_medium) {
    .ribbon {
        display: none;
    }
    .plugins {
        li {
            width: $image_width_small;
        }
        .item-figure, .item-image {
            width: $image_width_small;
            height: $image_height_small;
        }
    }
}

@include media-min-width($breakpoint_medium) {

}

@include media-min-width($breakpoint_large) {

}