---
---





$foreground: #262626;
$background: #fff;

$breakpoint_mobile: 320px;
$breakpoint_desktop_small: 480px;
$breakpoint_desktop: 800px;
$breakpoint_desktop_hd: 1200px;

// 4:3
$image_width_desktop_small: 400px;
$image_height_desktop_small: 300px;
$image_width_desktop: 600px;
$image_height_desktop: 600px * 3 / 4;
$image_width_desktop_hd: 800px;
$image_height_desktop_hd: 800px * 3 / 4;
$image_width_mobile: 300px;
$image_height_mobile: 300px * 3 / 4;

$fira_cdn: "http://code.cdn.mozilla.net/fonts/";
$fira_css_cdn: "http://code.cdn.mozilla.net/fonts/fira.css";
$fira_github: "http://mozilla.github.io/Fira/";
$fira_css_github: "http://mozilla.github.io/Fira/fira.css";

@mixin media-max-width($width) {
    @media (max-width: $width) {
        @content;
    }
}
@mixin media-min-width($width) {
    @media (min-width: $width) {
        @content;
    }
}

@font-face{
    font-family: 'Fira Sans';
    src: url($fira_cdn + 'eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
    url($fira_cdn + 'eot/FiraSans-Regular.eot') format('embedded-opentype'),
    url($fira_cdn + 'woff/FiraSans-Regular.woff') format('woff'),
    url($fira_cdn + 'ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


body, ul, p, figure {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a:link, a:visited {
    text-decoration: none;
}

header {
    height: 200px;
}



.plugins {
    li {
        margin: 0 auto 2rem;
        width: 600px;
        @include media-max-width($breakpoint_mobile) {
            width: $image_height_mobile;
        }
        @include media-max-width($breakpoint_desktop_small) {
            width: $image_width_desktop_small;
        }
        a {

        }
        figure {
            //border: 1px solid;
            display: block;
        }
        img {
            display: block;
            margin-bottom: 1rem;
            width: 100%;
            height: 400px;
            border-radius: 5px;
            border: 0;
            background: $background;
            @include media-max-width($breakpoint_mobile) {
                height: $image_height_mobile;
            }
            @include media-max-width($breakpoint_desktop_small) {
                height: $image_height_desktop_small;
            }

        }
        figcaption {

        }
    }
}

.ribbon {
    background: none repeat scroll 0% 0% rgb(34, 34, 34);
    color: white;
    display: block;
    font: 13px 'Fira Sans';
    padding: 8px 150px;
    position: absolute;
    right: 0px;
    text-decoration: none;
    top: 0px;
    white-space: nowrap;
    -webkit-transform: translate(50%, -50%) rotate(45deg) translateY(72px);
    -moz-transform: translate(50%, -50%) rotate(45deg) translateY(72px);
    -ms-transform: translate(50%, -50%) rotate(45deg) translateY(72px);
    -o-transform: translate(50%, -50%) rotate(45deg) translateY(72px);
    transform: translate(50%, -50%) rotate(45deg) translateY(72px);
}