{
    "name": "Automate Sketch",
    "description": "{{description}}",
    "author": "Ashung Hung",
    "email": "Ashung.hung@gmail.com",
    "homepage": "https://github.com/Ashung/Automate-Sketch",
    "appcast": "https://ashung.github.io/Automate-Sketch/appcast.xml",
    "version": "51.2.{{version}}",
    "identifier": "com.ashung.hung.automate_sketch",
    "icon": "icon.png",
    "compatibleVersion": "50",
    "bundleVersion": "1",
    "commands": [
        {
            "name": "{{fit_to_parent_width_with_margin}}",
            "identifier": "fit_to_parent_width_with_margin",
            "handler": "fitToParentWidthWithMargin",
            "script": "Layer/Fit_to_Parent_Width_or_Height_with_Margin.cocoascript"
        },
        {
            "name": "{{fit_to_parent_height_with_margin}}",
            "identifier": "fit_to_parent_height_with_margin",
            "handler": "fitToParentHeightWithMargin",
            "script": "Layer/Fit_to_Parent_Width_or_Height_with_Margin.cocoascript"
        },
        {
            "name": "{{fit_to_parent_with_margin}}",
            "identifier": "fit_to_parent_with_margin",
            "script": "Layer/Fit_to_Parent_with_Margin.cocoascript"
        },
        {
            "name": "{{bounds_layer_for_every_selection}}",
            "identifier": "bounds_layer_for_every_selection",
            "script": "Layer/Bounds_Layer_for_Every_Selection.cocoascript"
        },
        {
            "name": "{{divide_layer}}",
            "identifier": "divide_layer",
            "script": "Layer/Divide_Layer.cocoascript"
        },
        {
            "name": "{{unlock_all_layers}}",
            "identifier": "unlock_all_layers",
            "script": "Layer/Unlock_All_Layers.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_group}}",
            "identifier": "select_layers_by_type_group",
            "handler": "selectAllGroupsInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_text}}",
            "identifier": "select_layers_by_type_text",
            "handler": "selectAllTextsInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_shape}}",
            "identifier": "select_layers_by_type_shape",
            "handler": "selectAllShapesInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_image}}",
            "identifier": "select_layers_by_type_image",
            "handler": "selectAllImagesInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_symbol_instance}}",
            "identifier": "select_layers_by_type_symbol_instance",
            "handler": "selectAllSymbolInstancesInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_slice}}",
            "identifier": "select_layers_by_type_slice",
            "handler": "selectAllSlicesInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_exportable}}",
            "identifier": "select_layers_by_type_exportable",
            "handler": "selectAllExportableInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_name}}",
            "identifier": "select_layers_by_name",
            "script": "Layer/Select_Layers_By_Name.cocoascript"
        },
        {
            "name": "{{select_all_hidden_layers}}",
            "identifier": "select_all_hidden_layers",
            "script": "Layer/Select_All_Hidden_Layers.cocoascript"
        },
        {
            "name": "{{select_all_child_layers}}",
            "identifier": "select_all_child_layers",
            "script": "Layer/Select_All_Child_Layers.cocoascript"
        },
        {
            "name": "{{select_parent_groups}}",
            "identifier": "select_parent_groups",
            "script": "Layer/Select_Parent_Groups.cocoascript"
        },
        {
            "name": "{{clear_layer_name}}",
            "identifier": "clear_layer_name",
            "script": "Layer/Clear_Layer_Name.cocoascript"
        },
        {
            "name": "{{remove_redundant_groups}}",
            "identifier": "remove_redundant_groups",
            "script": "Layer/Remove_Redundant_Groups.cocoascript"
        },
        {
            "name": "{{remove_empty_groups}}",
            "identifier": "remove_empty_groups",
            "script": "Layer/Remove_Empty_Groups.cocoascript"
        },
        {
            "name": "{{remove_hidden_layers}}",
            "identifier": "remove_hidden_layers",
            "script": "Layer/Remove_Hidden_Layers.cocoascript"
        },
        {
            "name": "{{change_layer_places}}",
            "identifier": "change_layer_places",
            "script": "Arrange/Change_Places.cocoascript"
        },
        {
            "name": "{{change_layer_places_center}}",
            "identifier": "change_layer_places_center",
            "script": "Arrange/Change_Places.cocoascript"
        },
        {
            "name": "{{tile_layers}}",
            "identifier": "tile_layers",
            "handler": "customTileLayers",
            "script": "Arrange/Tile_Objects.cocoascript"
        },
        {
            "name": "{{tile_layers_by_position_x}}",
            "identifier": "tile_layers_by_position_x",
            "handler": "tileLayersByPositionX",
            "script": "Arrange/Tile_Objects.cocoascript"
        },
        {
            "name": "{{tile_layers_by_position_y}}",
            "identifier": "tile_layers_by_position_y",
            "handler": "tileLayersByPositionY",
            "script": "Arrange/Tile_Objects.cocoascript"
        },
        {
            "name": "{{tile_layers_horizontally_by_index}}",
            "identifier": "tile_layers_horizontally_by_index",
            "handler": "tileLayersHorizontallyByIndex",
            "script": "Arrange/Tile_Objects.cocoascript"
        },
        {
            "name": "{{tile_layers_vertically_by_index}}",
            "identifier": "tile_layers_vertically_by_index",
            "handler": "tileLayersVerticallyByIndex",
            "script": "Arrange/Tile_Objects.cocoascript"
        },
        {
            "name": "{{order_layers_by_x}}",
            "identifier": "order_layers_by_x",
            "handler": "orderLayersByX",
            "script": "Arrange/Order_Layers_by_Position_XY.cocoascript"
        },
        {
            "name": "{{order_layers_by_y}}",
            "identifier": "order_layers_by_y",
            "handler": "orderLayersByY",
            "script": "Arrange/Order_Layers_by_Position_XY.cocoascript"
        },
        {
            "name": "{{reverse_layer_order}}",
            "identifier": "reverse_layer_order",
            "script": "Arrange/Reverse_Layer_Order.cocoascript"
        },
        {
            "name": "{{order_layers_by_name}}",
            "identifier": "order_layers_by_name",
            "script": "Arrange/Order_Layers_by_Name.cocoascript"
        },
        {
            "name": "{{order_layers_by_kind}}",
            "identifier": "order_layers_by_kind",
            "script": "Arrange/Order_Layers_by_Kind.cocoascript"
        },
        {
            "name": "{{capitalize}}",
            "identifier": "capitalize",
            "script": "Type/Capitalize.cocoascript"
        },
        {
            "name": "{{change_typeface_for_the_latin_character_set}}",
            "identifier": "change_typeface_for_the_latin_character_set",
            "script": "Type/Change_Typeface_for_the_Latin_Character_Set.cocoascript"
        },
        {
            "name": "{{add_space_between_cjk_and_western_character}}",
            "identifier": "add_space_between_cjk_and_western_character",
            "script": "Type/Add_Space_Between_CJK_and_Western_Character.cocoascript"
        },
        {
            "name": "{{unfixed_layer_name}}",
            "identifier": "unfixed_layer_name",
            "script": "Type/Unfixed_Layer_Name.cocoascript"
        },
        {
            "name": "{{replace_missing_fonts}}",
            "identifier": "replace_missing_fonts",
            "script": "Type/Replace_Missing_Fonts.cocoascript"
        },
        {
            "name": "{{replace_fonts}}",
            "identifier": "replace_fonts",
            "script": "Type/Replace_Fonts.cocoascript"
        },
        {
            "name": "{{clear_slices}}",
            "identifier": "clear_slices",
            "script": "Slice/Clear_Slices.cocoascript"
        },
        {
            "name": "{{clear_exportables}}",
            "identifier": "clear_exportables",
            "script": "Slice/Clear_Exportables.cocoascript"
        },
        {
            "name": "{{artboard_from_selection}}",
            "identifier": "artboard_from_selection",
            "script": "Artboard/Artboard_from_Selection.cocoascript"
        },
        {
            "name": "{{artboard_from_group}}",
            "identifier": "artboard_from_group",
            "script": "Artboard/Artboard_From_Group.cocoascript"
        },
        {
            "name": "{{artboard_to_group}}",
            "identifier": "artboard_to_group",
            "script": "Artboard/Artboard_to_Group.cocoascript"
        },
        {
            "name": "{{export_all_artboards}}",
            "identifier": "export_all_artboards",
            "script": "Artboard/Export_All_Artboards.cocoascript"
        },
        {
            "name": "{{export_all_artboards_to_html}}",
            "identifier": "export_all_artboards_to_html",
            "script": "Artboard/Export_All_Artboards_to_HTML.cocoascript"
        },
        {
            "name": "{{resize_to_fit_height}}",
            "identifier": "resize_to_fit_height",
            "script": "Artboard/Resize_to_Fit_Height.cocoascript"
        },
        {
            "name": "{{move_artboards_to_bottom_of_another}}",
            "identifier": "move_artboards_to_bottom_of_another",
            "script": "Artboard/Move_Artboards_to_Bottom_of_Another.cocoascript"
        },
        {
            "name": "{{select_all_instances_of_symbol}}",
            "identifier": "select_all_instances_of_symbol",
            "script": "Symbol/Select_All_Instances_of_Symbol.cocoascript"
        },
        {
            "name": "{{rename_instances}}",
            "identifier": "rename_instances",
            "script": "Symbol/Rename_Instances.cocoascript"
        },
        {
            "name": "{{selection_to_symbol_master}}",
            "identifier": "selection_to_symbol_master",
            "script": "Symbol/Selection_to_Symbol.cocoascript"
        },
        {
            "name": "{{detach_unused_symbol_master}}",
            "identifier": "detach_unused_symbol_master",
            "script": "Symbol/Detach_Unused_Symbol_Master.cocoascript"
        },
        {
            "name": "{{remove_unused_symbols}}",
            "identifier": "remove_unused_symbols",
            "script": "Symbol/Remove_Unused_Symbols_New.cocoascript"
        },
        {
            "name": "{{set_to_original_width}}",
            "identifier": "set_to_original_width",
            "script": "Symbol/Set_to_Original_Width_or_Height.cocoascript"
        },
        {
            "name": "{{set_to_original_height}}",
            "identifier": "set_to_original_height",
            "script": "Symbol/Set_to_Original_Width_or_Height.cocoascript"
        },
        {
            "name": "{{set_to_original_size}}",
            "identifier": "set_to_original_size",
            "script": "Symbol/Set_to_Original_Width_or_Height.cocoascript"
        },
        {
            "name": "{{export_all_symbols_as_png}}",
            "identifier": "export_all_symbols_as_png",
            "script": "Symbol/Export_All_Symbols_As_PNG.cocoascript"
        },
        {
            "name": "{{sync_symbol_master_from_sketch_file}}",
            "identifier": "sync_symbol_master_from_sketch_file",
            "script": "Symbol/Sync_Symbol_Master_from_Sketch_File.cocoascript"
        },
        {
            "name": "{{replace_pages_from_sketch_file}}",
            "identifier": "replace_pages_from_sketch_file",
            "script": "Symbol/Replace_Pages_from_Sketch_File.cocoascript"
        },
        {
            "name": "{{add_solid_fill_from_css_color}}",
            "identifier": "add_solid_fill_from_css_color",
            "script": "Style/Add_Solid_Fill_from_CSS_Color.cocoascript"
        },
        {
            "name": "{{fill_color_from_global_colors}}",
            "identifier": "fill_color_from_global_colors",
            "handler": "fillColorFromGlobalColors",
            "script": "Style/Fill_Color_from_Colors.cocoascript"
        },
        {
            "name": "{{fill_color_from_document_colors}}",
            "identifier": "fill_color_from_document_colors",
            "handler": "fillColorFromDocumentColors",
            "script": "Style/Fill_Color_from_Colors.cocoascript"
        },
        {
            "name": "{{remove_all_disabled_styles}}",
            "identifier": "remove_all_disabled_styles",
            "script": "Style/Remove_All_Disabled_Styles.cocoascript"
        },
        {
            "name": "{{import_document_assets_from_sketch_file}}",
            "identifier": "import_document_assets_from_sketch_file",
            "script": "Style/Import_Document_Assets_From_Sketch_File.cocoascript"
        },
        {
            "name": "{{import_text_styles_from_sketch_file}}",
            "identifier": "import_text_styles_from_sketch_file",
            "script": "Style/Import_Styles_from_Sketch_File.cocoascript"
        },
        {
            "name": "{{import_layer_styles_from_sketch_file}}",
            "identifier": "import_layer_styles_from_sketch_file",
            "script": "Style/Import_Styles_from_Sketch_File.cocoascript"
        },
        {
            "name": "{{create_color_guide}}",
            "identifier": "create_color_guide",
            "script": "Style/Create_Color_Guide.cocoascript"
        },
        {
            "name": "{{create_typography_guide}}",
            "identifier": "create_typography_guide",
            "script": "Style/Create_Typography_Guide.cocoascript"
        },
        {
            "name": "{{clear_guides}}",
            "identifier": "clear_guides",
            "script": "Guide/Clear_Guides.cocoascript"
        },
        {
            "name": "{{grid_setting}}",
            "identifier": "grid_setting",
            "script": "Guide/Grid_Setting.cocoascript"
        },
        {
            "name": "{{svg_export_setting}}",
            "identifier": "svg_export_setting",
            "script": "Utilities/SVG_Export_Setting.cocoascript"
        },
        {
            "name": "{{web_site}}",
            "identifier": "web_site",
            "handler": "website",
            "script": "Help/help.cocoascript"
        },
        {
            "name": "{{report_issue}}",
            "identifier": "report_issue",
            "handler": "reportIssue",
            "script": "Help/help.cocoascript"
        },
        {
            "name": "{{donate}}",
            "identifier": "donate",
            "handler": "donate",
            "script": "Help/help.cocoascript"
        },
        {
            "name": "{{change_language}}",
            "identifier": "change_language",
            "script": "Help/Change_Languages.cocoascript"
        },
        {
            "name": "{{copy_selected_layer_name}}",
            "identifier": "copy_selected_layer_name",
            "script": "Development/Copy_Selected_Layer_Name.cocoascript"
        },
        {
            "name": "{{copy_slice_as_base64}}",
            "identifier": "copy_slice_as_base64",
            "script": "Development/Copy_Slice_As_Base64.cocoascript"
        },
        {
            "name": "{{show_file_in_finder}}",
            "identifier": "show_file_in_finder",
            "handler": "showFileInFinder",
            "script": "Development/Open_Finder_or_Terminal.cocoascript"
        },
        {
            "name": "{{open_terminal_at_file_folder}}",
            "identifier": "open_terminal_at_file_folder",
            "handler": "openTerminalAtFileFolder",
            "script": "Development/Open_Finder_or_Terminal.cocoascript"
        },
        {
            "name": "{{copy_objectid_or_symbolid}}",
            "identifier": "copy_objectid_or_symbolid",
            "script": "Development/Copy_ObjectID_or_SymbolID.cocoascript"
        },
        {
            "name": "{{reload_plugins}}",
            "identifier": "reload_plugins",
            "script": "Development/Reload_Plugins.cocoascript"
        },
        {
            "name": "{{edit_plugin_setting}}",
            "identifier": "edit_plugin_setting",
            "script": "Development/Edit_Plugin_Setting.cocoascript"
        },
        {
            "name": "{{script_editor_setting}}",
            "identifier": "script_editor_setting",
            "script": "Development/Script_Editor_Setting.cocoascript"
        },
        {
            "name": "{{convert_to_other_version}}",
            "identifier": "convert_to_other_version",
            "script": "Utilities/Convert_to_Other_Version.cocoascript"
        },
        {
            "name": "{{paste_and_replace}}",
            "identifier": "paste_and_replace",
            "script": "Layer/Paste_and_Replace.cocoascript"
        },
        {
            "name": "{{swap_fill_and_border}}",
            "identifier": "swap_fill_and_border",
            "script": "Style/Swap_Fill_and_Border.cocoascript"
        },
        {
            "name": "{{hide_all_grid}}",
            "identifier": "hide_all_grid",
            "script": "Guide/Hide_All_Grid.cocoascript"
        },
        {
            "name": "{{hide_all_layout}}",
            "identifier": "hide_all_layout",
            "script": "Guide/Hide_All_Layout.cocoascript"
        },
        {
            "name": "{{copy_grid_setting}}",
            "identifier": "copy_grid_setting",
            "handler": "copyGrid",
            "script": "Guide/Copy_and_Paste_Grid_Setting.cocoascript"
        },
        {
            "name": "{{paste_grid_setting}}",
            "identifier": "paste_grid_setting",
            "handler": "pasteGrid",
            "script": "Guide/Copy_and_Paste_Grid_Setting.cocoascript"
        },
        {
            "name": "{{copy_layout_setting}}",
            "identifier": "copy_layout_setting",
            "handler": "copyLayout",
            "script": "Guide/Copy_and_Paste_Layout_Setting.cocoascript"
        },
        {
            "name": "{{paste_layout_setting}}",
            "identifier": "paste_layout_setting",
            "handler": "pasteLayout",
            "script": "Guide/Copy_and_Paste_Layout_Setting.cocoascript"
        },
        {
            "name": "{{copy_guide_setting}}",
            "identifier": "copy_guide_setting",
            "handler": "copyGuide",
            "script": "Guide/Copy_and_Paste_Guide_Setting.cocoascript"
        },
        {
            "name": "{{paste_guide_setting}}",
            "identifier": "paste_guide_setting",
            "handler": "pasteGuide",
            "script": "Guide/Copy_and_Paste_Guide_Setting.cocoascript"
        },
        {
            "name": "{{arrange_objects}}",
            "identifier": "arrange_objects",
            "script": "Arrange/Arrange_Objects.cocoascript"
        },
        {
            "name": "{{baseline}}",
            "identifier": "baseline",
            "script": "Type/Baseline.cocoascript"
        },
        {
            "name": "{{resize_fit_text_height}}",
            "identifier": "resize_fit_text_height",
            "script": "Type/Resize_Fit_Text_Height.cocoascript"
        },
        {
            "name": "{{change_text_orientation}}",
            "identifier": "change_text_orientation",
            "script": "Type/Change_Text_Orientation.cocoascript"
        },
        {
            "name": "{{paste_style_fills}}",
            "identifier": "paste_style_fills",
            "script": "Style/Paste_Style_Part.cocoascript"
        },
        {
            "name": "{{paste_style_borders}}",
            "identifier": "paste_style_borders",
            "script": "Style/Paste_Style_Part.cocoascript"
        },
        {
            "name": "{{paste_style_shadows}}",
            "identifier": "paste_style_shadows",
            "script": "Style/Paste_Style_Part.cocoascript"
        },
        {
            "name": "{{paste_style_innershadows}}",
            "identifier": "paste_style_innershadows",
            "script": "Style/Paste_Style_Part.cocoascript"
        },
        {
            "name": "{{paste_style_blur}}",
            "identifier": "paste_style_blur",
            "script": "Style/Paste_Style_Part.cocoascript"
        },
        {
            "name": "{{paste_text_style}}",
            "identifier": "paste_text_style",
            "script": "Style/Paste_Style_Part.cocoascript"
        },
        {
            "name": "{{paste_text_color}}",
            "identifier": "paste_text_color",
            "script": "Style/Paste_Style_Part.cocoascript"
        },
        {
            "name": "{{ungroup_shape_layer}}",
            "identifier": "ungroup_shape_layer",
            "script": "Layer/Ungroup_Shape_Layer.cocoascript"
        },
        {
            "name": "{{select_all_instances_of_imported_symbol}}",
            "identifier": "select_all_instances_of_imported_symbol",
            "script": "Symbol/Select_All_Instances_of_Imported_Symbol.cocoascript"
        },
        {
            "name": "{{change_symbols_to_library_symbol}}",
            "identifier": "change_symbols_to_library_symbol",
            "script": "Library/Change_Symbols_to_Library_Symbol.cocoascript"
        },
        {
            "name": "{{replace_symbol_with_library_symbol}}",
            "identifier": "replace_symbol_with_library_symbol",
            "script": "Library/Replace_Symbol_With_Library_Symbol.cocoascript"
        },
        {
            "name": "{{add_library_preview}}",
            "identifier": "add_library_preview",
            "script": "Library/Add_Library_Preview.cocoascript"
        },
        {
            "name": "{{remove_unused_layer_styles}}",
            "identifier": "remove_unused_layer_styles",
            "script": "Style/Remove_Unused_Styles.cocoascript"
        },
        {
            "name": "{{remove_unused_text_styles}}",
            "identifier": "remove_unused_text_styles",
            "script": "Style/Remove_Unused_Styles.cocoascript"
        },
        {
            "name": "{{fix_library_id_conflict}}",
            "identifier": "fix_library_id_conflict",
            "script": "Library/Fix_Library_ID_Conflict.cocoascript"
        },
        {
            "name": "{{imported_symbols_link_manage}}",
            "identifier": "imported_symbols_link_manage",
            "script": "Library/Imported_Symbols_Link_Manage.cocoascript"
        },
        {
            "name": "{{auto_slice}}",
            "identifier": "auto_slice",
            "script": "Slice/Auto_Slice.cocoascript"
        },
        {
            "name": "{{select_all_siblings_layers}}",
            "identifier": "select_all_siblings_layers",
            "script": "Layer/Select_All_Siblings_Layers.cocoascript"
        },
        {
            "name": "{{save_export_presets}}",
            "identifier": "save_export_presets",
            "handler": "saveExportPresetsToFile",
            "script": "Slice/Export_Presets.cocoascript"
        },
        {
            "name": "{{load_export_presets}}",
            "identifier": "load_export_presets",
            "handler": "loadExportPresetsFromFile",
            "script": "Slice/Export_Presets.cocoascript"
        },
        {
            "name": "{{move_symbols_to_page}}",
            "identifier": "move_symbols_to_page",
            "script": "Symbol/Move_Symbols_To_Page.cocoascript"
        },
        {
            "name": "{{remove_transparency_layers}}",
            "identifier": "remove_transparency_layers",
            "handler": "removeTransparencyLayersHandler",
            "script": "Layer/Select_or_Remove_All_Transparency_Layers.cocoascript"
        },
        {
            "name": "{{select_transparency_layers}}",
            "identifier": "select_transparency_layers",
            "handler": "selectTransparencyLayersHandler",
            "script": "Layer/Select_or_Remove_All_Transparency_Layers.cocoascript"
        },
        {
            "name": "{{pick_color_and_copy}}",
            "identifier": "pick_color_and_copy",
            "script": "Development/Pick_Color_And_Copy_To_Pasteboard.cocoascript"
        },
        {
            "name": "{{reset_overrides}}",
            "identifier": "reset_overrides",
            "script": "Symbol/Reset_Overrides.cocoascript"
        },
        {
            "name": "{{show_layer_info}}",
            "identifier": "show_layer_info",
            "script": "Development/Show_Layer_Info.cocoascript"
        },
        {
            "name": "{{bring_all_hotspot_to_front}}",
            "identifier": "bring_all_hotspot_to_front",
            "script": "Prototyping/Bring_All_Hotspot_to_Front.cocoascript"
        },
        {
            "name": "{{import_document_assets_from_library}}",
            "identifier": "import_document_assets_from_library",
            "script": "Library/Import_Document_Assets_from_Library.cocoascript"
        },
        {
            "name": "{{import_styles_from_library}}",
            "identifier": "import_styles_from_library",
            "script": "Library/Import_Styles_from_Library.cocoascript"
        },
        {
            "name": "{{select_layers_by_layer_style}}",
            "identifier": "select_layers_by_layer_style",
            "handler": "selectLayersByLayerStyle",
            "script": "Style/Select_Layers_by_Style.cocoascript"
        },
        {
            "name": "{{select_layers_by_text_style}}",
            "identifier": "select_layers_by_text_style",
            "handler": "selectLayersByTextStyle",
            "script": "Style/Select_Layers_by_Style.cocoascript"
        },
        {
            "name": "{{create_link_layer}}",
            "identifier": "create_link_layer",
            "handler": "createLinkLayer",
            "script": "Layer/Link_Layer.cocoascript"
        },
        {
            "name": "{{sync_link_layers}}",
            "identifier": "sync_link_layers",
            "handler": "syncLinkLayers",
            "script": "Layer/Link_Layer.cocoascript"
        },
        {
            "name": "{{export_clean_code_svg}}",
            "identifier": "export_clean_code_svg",
            "script": "Utilities/Export_Clean_Code_SVG.cocoascript"
        },
        {
            "name": "{{split_text_layer}}",
            "identifier": "split_text_layer",
            "script": "Type/Split_Text_Layer.cocoascript"
        },
        {
            "name": "{{combine_text_layer}}",
            "identifier": "combine_text_layer",
            "script": "Type/Combine_Text_Layer.cocoascript"
        },
        {
            "name": "{{select_layers_outside_of_artboard_bounds}}",
            "identifier": "select_layers_outside_of_artboard_bounds",
            "script": "Layer/Select_Layers_Outside_Of_Artboard_Bounds.cocoascript"
        },
        {
            "name": "{{nine_slice_from_bitmap_layer}}",
            "identifier": "nine_slice_from_bitmap_layer",
            "script": "Utilities/Nine_Slice_From_Bitmap_Layer.cocoascript"
        },
        {
            "name": "{{fast_slice}}",
            "identifier": "fast_slice",
            "handler": "runFastSlice",
            "script": "Slice/Fast_Slice.cocoascript"
        },
        {
            "name": "{{fast_slice_setting}}",
            "identifier": "fast_slice_setting",
            "handler": "runFastSliceSetting",
            "script": "Slice/Fast_Slice.cocoascript"
        },
        {
            "name": "{{select_reverse}}",
            "identifier": "select_reverse",
            "script": "Layer/Select_Reverse.cocoascript"
        },
        {
            "name": "{{toggle_layer_constrain_proportions}}",
            "identifier": "toggle_layer_constrain_proportions",
            "script": "Layer/Toggle_Layer_Constrain_Proportions.cocoascript"
        },
        {
            "name": "{{change_local_text_style_to_library_text_style}}",
            "identifier": "change_local_text_style_to_library_text_style",
            "script": "Library/Change_Local_Style_to_Library_Style.cocoascript"
        },
        {
            "name": "{{change_local_layer_style_to_library_layer_style}}",
            "identifier": "change_local_layer_style_to_library_layer_style",
            "script": "Library/Change_Local_Style_to_Library_Style.cocoascript"
        },
        {
            "name": "{{check_for_library_updates}}",
            "identifier": "check_for_library_updates",
            "script": "Library/Check_For_Library_Updates.cocoascript"
        },
        {
            "name": "{{increase_line_height}}",
            "identifier": "increase_line_height",
            "script": "Type/Line_Height.cocoascript"
        },
        {
            "name": "{{decrease_line_height}}",
            "identifier": "decrease_line_height",
            "script": "Type/Line_Height.cocoascript"
        },
        {
            "name": "{{increase_letter_spacing}}",
            "identifier": "increase_letter_spacing",
            "script": "Type/Letter_Spacing.cocoascript"
        },
        {
            "name": "{{decrease_letter_spacing}}",
            "identifier": "decrease_letter_spacing",
            "script": "Type/Letter_Spacing.cocoascript"
        },
        {
            "name": "{{increase_horizontally_scale}}",
            "identifier": "increase_horizontally_scale",
            "script": "Type/Horizontally_Scale.cocoascript"
        },
        {
            "name": "{{decrease_horizontally_scale}}",
            "identifier": "decrease_horizontally_scale",
            "script": "Type/Horizontally_Scale.cocoascript"
        },
        {
            "name": "{{reset_horizontally_scale}}",
            "identifier": "reset_horizontally_scale",
            "script": "Type/Horizontally_Scale.cocoascript"
        },
        {
            "name": "{{select_parent_artboard}}",
            "identifier": "select_parent_artboard",
            "script": "Artboard/Select_Parent_Artboard.cocoascript"
        },
        {
            "name": "{{artboard_navigator}}",
            "identifier": "artboard_navigator",
            "script": "Artboard/Artboard_Navigator.cocoascript"
        },
        {
            "name": "{{create_symbols_from_selected_layers}}",
            "identifier": "create_symbols_from_selected_layers",
            "script": "Symbol/Create_Symbols_from_Selected_Layers.cocoascript"
        },
        {
            "name": "{{rename_layer_to_style_name}}",
            "identifier": "rename_layer_to_style_name",
            "script": "Style/Rename_Layer_to_Style_Name.cocoascript"
        },
        {
            "name": "{{replace_library}}",
            "identifier": "replace_library",
            "script": "Library/Replace_Library.cocoascript"
        },
        {
            "name": "{{toggle_select_groups_content_on_click}}",
            "identifier": "toggle_select_groups_content_on_click",
            "script": "Layer/Toggle_Select_Groups_Content_On_Click.cocoascript"
        },
        {
            "name": "{{small_increase_width_from_right}}",
            "identifier": "small_increase_width_from_right",
            "handler": "smallIncreaseWidthFromRight",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{large_increase_width_from_right}}",
            "identifier": "large_increase_width_from_right",
            "handler": "largeIncreaseWidthFromRight",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{small_increase_width_from_center}}",
            "identifier": "small_increase_width_from_center",
            "handler": "smallIncreaseWidthFromCenter",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{large_increase_width_from_center}}",
            "identifier": "large_increase_width_from_center",
            "handler": "largeIncreaseWidthFromCenter",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{small_increase_height_from_bottom}}",
            "identifier": "small_increase_height_from_bottom",
            "handler": "smallIncreaseHeightFromBottom",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{large_increase_height_from_bottom}}",
            "identifier": "large_increase_height_from_bottom",
            "handler": "largeIncreaseHeightFromBottom",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{small_increase_height_from_center}}",
            "identifier": "small_increase_height_from_center",
            "handler": "smallIncreaseHeightFromCenter",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{large_increase_height_from_center}}",
            "identifier": "large_increase_height_from_center",
            "handler": "largeIncreaseHeightFromCenter",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{small_decrease_width_from_right}}",
            "identifier": "small_decrease_width_from_right",
            "handler": "smallDecreaseWidthFromRight",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{large_decrease_width_from_right}}",
            "identifier": "large_decrease_width_from_right",
            "handler": "largeDecreaseWidthFromRight",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{small_decrease_width_from_center}}",
            "identifier": "small_decrease_width_from_center",
            "handler": "smallDecreaseWidthFromCenter",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{large_decrease_width_from_center}}",
            "identifier": "large_decrease_width_from_center",
            "handler": "largeDecreaseWidthFromCenter",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{small_decrease_height_from_bottom}}",
            "identifier": "small_decrease_height_from_bottom",
            "handler": "smallDecreaseHeightFromBottom",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{large_decrease_height_from_bottom}}",
            "identifier": "large_decrease_height_from_bottom",
            "handler": "largeDecreaseHeightFromBottom",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{small_decrease_height_from_center}}",
            "identifier": "small_decrease_height_from_center",
            "handler": "smallDecreaseHeightFromCenter",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{large_decrease_height_from_center}}",
            "identifier": "large_decrease_height_from_center",
            "handler": "largeDecreaseHeightFromCenter",
            "script": "Layer/Adjust_Sizes.cocoascript"
        },
        {
            "name": "{{replace_symbol_override}}",
            "identifier": "replace_symbol_override",
            "script": "Symbol/Replace_Symbol_Override.cocoascript"
        }
    ],
    "menu": {
        "isRoot": false,
        "title": "{{automate}}",
        "items": [
            {
                "title": "{{arrange}}",
                "items": [
                    "change_layer_places",
                    "change_layer_places_center",
                    "-",
                    "tile_layers",
                    "tile_layers_by_position_x",
                    "tile_layers_by_position_y",
                    "tile_layers_horizontally_by_index",
                    "tile_layers_vertically_by_index",
                    "-",
                    "arrange_objects",
                    "-",
                    {
                        "title": "{{order_layers_by}}",
                        "items": [
                            "order_layers_by_x",
                            "order_layers_by_y",
                            "order_layers_by_name",
                            "order_layers_by_kind"
                        ]
                    },
                    "reverse_layer_order"
                ]
            },
            {
                "title": "{{layer}}",
                "items": [
                    "fit_to_parent_with_margin",
                    "fit_to_parent_width_with_margin",
                    "fit_to_parent_height_with_margin",
                    {
                        "title": "{{adjust_sizes}}",
                        "items": [
                            "small_increase_width_from_right",
                            "large_increase_width_from_right",
                            "small_increase_width_from_center",
                            "large_increase_width_from_center",
                            "small_increase_height_from_bottom",
                            "large_increase_height_from_bottom",
                            "small_increase_height_from_center",
                            "large_increase_height_from_center",
                            "-",
                            "small_decrease_width_from_right",
                            "large_decrease_width_from_right",
                            "small_decrease_width_from_center",
                            "large_decrease_width_from_center",
                            "small_decrease_height_from_bottom",
                            "large_decrease_height_from_bottom",
                            "small_decrease_height_from_center",
                            "large_decrease_height_from_center"
                        ]
                    },
                    "-",
                    "bounds_layer_for_every_selection",
                    "divide_layer",
                    "ungroup_shape_layer",
                    "-",
                    "unlock_all_layers",
                    "-",
                    "toggle_layer_constrain_proportions",
                    "toggle_select_groups_content_on_click",
                    "-",
                    {
                        "title": "{{select_layers_by_type}}",
                        "items": [
                            "select_layers_by_type_group",
                            "select_layers_by_type_text",
                            "select_layers_by_type_shape",
                            "select_layers_by_type_image",
                            "select_layers_by_type_symbol_instance",
                            "select_layers_by_type_slice",
                            "select_layers_by_type_exportable",
                            "-",
                            "select_all_hidden_layers",
                            "select_transparency_layers"
                        ]
                    },
                    "select_layers_by_name",
                    "select_all_child_layers",
                    "select_all_siblings_layers",
                    "select_parent_groups",
                    "select_layers_outside_of_artboard_bounds",
                    "select_reverse",
                    "-",
                    "paste_and_replace",
                    "-",
                    "remove_redundant_groups",
                    "remove_empty_groups",
                    "remove_hidden_layers",
                    "remove_transparency_layers",
                    "-",
                    "clear_layer_name",
                    "-",
                    "create_link_layer",
                    "sync_link_layers"
                ]
            },
            {
                "title": "{{symbol}}",
                "items": [
                    "set_to_original_width",
                    "set_to_original_height",
                    "set_to_original_size",
                    "-",
                    "replace_symbol_override",
                    "reset_overrides",
                    "-",
                    "select_all_instances_of_symbol",
                    "select_all_instances_of_imported_symbol",
                    "rename_instances",
                    "-",
                    "create_symbols_from_selected_layers",
                    "selection_to_symbol_master",
                    "-",
                    "move_symbols_to_page",
                    "detach_unused_symbol_master",
                    "remove_unused_symbols",
                    "-",
                    "export_all_symbols_as_png",
                    "-",
                    "sync_symbol_master_from_sketch_file",
                    "replace_pages_from_sketch_file"
                ]
            },
            {
                "title": "{{library}}",
                "items": [
                    "fix_library_id_conflict",
                    "imported_symbols_link_manage",
                    "replace_library",
                    "-",
                    "replace_symbol_with_library_symbol",
                    "change_symbols_to_library_symbol",
                    "-",
                    "change_local_text_style_to_library_text_style",
                    "change_local_layer_style_to_library_layer_style",
                    "import_styles_from_library",
                    "import_document_assets_from_library",
                    "-",
                    "add_library_preview",
                    "-",
                    "check_for_library_updates"
                ]
            },
            {
                "title": "{{artboard}}",
                "items": [
                    "artboard_from_selection",
                    "artboard_from_group",
                    "artboard_to_group",
                    "-",
                    "select_parent_artboard",
                    "artboard_navigator",
                    "-",
                    "resize_to_fit_height",
                    "-",
                    "move_artboards_to_bottom_of_another",
                    "-",
                    "export_all_artboards",
                    "export_all_artboards_to_html"
                ]
            },
            {
                "title": "{{style}}",
                "items": [
                    "select_layers_by_layer_style",
                    "select_layers_by_text_style",
                    "-",
                    "rename_layer_to_style_name",
                    "-",
                    "paste_style_fills",
                    "paste_style_borders",
                    "paste_style_shadows",
                    "paste_style_innershadows",
                    "paste_style_blur",
                    "paste_text_style",
                    "paste_text_color",
                    "-",
                    "add_solid_fill_from_css_color",
                    "fill_color_from_global_colors",
                    "fill_color_from_document_colors",
                    "swap_fill_and_border",
                    "-",
                    "remove_all_disabled_styles",
                    "remove_unused_layer_styles",
                    "remove_unused_text_styles",
                    "-",
                    "create_color_guide",
                    "create_typography_guide",
                    "-",
                    "import_document_assets_from_sketch_file",
                    "import_text_styles_from_sketch_file",
                    "import_layer_styles_from_sketch_file"
                ]
            },
            {
                "title": "{{guide}}",
                "items": [
                    "grid_setting",
                    "-",
                    "copy_grid_setting",
                    "paste_grid_setting",
                    "hide_all_grid",
                    "-",
                    "copy_layout_setting",
                    "paste_layout_setting",
                    "hide_all_layout",
                    "-",
                    "copy_guide_setting",
                    "paste_guide_setting",
                    "clear_guides"
                ]
            },
            {
                "title": "{{type}}",
                "items": [
                    "increase_line_height",
                    "decrease_line_height",
                    "increase_letter_spacing",
                    "decrease_letter_spacing",
                    "increase_horizontally_scale",
                    "decrease_horizontally_scale",
                    "reset_horizontally_scale",
                    "-",
                    "split_text_layer",
                    "combine_text_layer",
                    "-",
                    "capitalize",
                    "baseline",
                    "-",
                    "change_text_orientation",
                    "change_typeface_for_the_latin_character_set",
                    "add_space_between_cjk_and_western_character",
                    "-",
                    "replace_fonts",
                    "replace_missing_fonts",
                    "-",
                    "resize_fit_text_height",
                    "-",
                    "unfixed_layer_name"
                ]
            },
            {
                "title": "{{slice}}",
                "items": [
                    "auto_slice",
                    "fast_slice",
                    "fast_slice_setting",
                    "-",
                    "clear_slices",
                    "clear_exportables",
                    "-",
                    "save_export_presets",
                    "load_export_presets"
                ]
            },
            {
                "title": "{{prototyping}}",
                "items": [
                    "bring_all_hotspot_to_front"
                ]
            },
            {
                "title": "{{development}}",
                "items": [
                    "pick_color_and_copy",
                    "copy_slice_as_base64",
                    "-",
                    "copy_selected_layer_name",
                    "copy_objectid_or_symbolid",
                    "show_layer_info",
                    "-",
                    "script_editor_setting",
                    "edit_plugin_setting",
                    "reload_plugins"
                ]
            },
            {
                "title": "{{utilities}}",
                "items": [
                    "export_clean_code_svg",
                    "svg_export_setting",
                    "-",
                    "nine_slice_from_bitmap_layer",
                    "-",
                    "convert_to_other_version",
                    "-",
                    "show_file_in_finder",
                    "open_terminal_at_file_folder"
                ]
            },
            {
                "title": "{{help}}",
                "items": [
                    "web_site",
                    "report_issue",
                    "-",
                    "change_language",
                    "-",
                    "donate"
                ]
            }
        ]
    }
}
