{
    "name": "Automate Sketch",
    "description": "{{description}}",
    "author": "Ashung Hung",
    "email": "Ashung.hung@gmail.com",
    "homepage": "https://github.com/Ashung/Automate-Sketch",
    "updateURL": "https://github.com/Ashung/Automate-Sketch/archive/master.zip",
    "downloadURL": "https://github.com/Ashung/Automate-Sketch/archive/master.zip",
    "version": "{{version}}",
    "identifier": "com.ashung.hung.automate_sketch",
    "compatibleVersion": "3",
    "bundleVersion": "1",
    "commands": [
        {
            "name": "{{fix_to_parent_width_with_margin}}",
            "identifier": "fix_to_parent_width_with_margin",
            "handler": "fixToParentWidthWithMargin",
            "script": "Layer/Fix_to_Parent_Width_or_Height_with_Margin.cocoascript"
        },
        {
            "name": "{{fix_to_parent_height_with_margin}}",
            "identifier": "fix_to_parent_height_with_margin",
            "handler": "fixToParentHeightWithMargin",
            "script": "Layer/Fix_to_Parent_Width_or_Height_with_Margin.cocoascript"
        },
        {
            "name": "{{bounds_layer_for_every_selection}}",
            "identifier": "bounds_layer_for_every_selection",
            "script": "Layer/Bounds_Layer_for_Every_Selection.cocoascript"
        },
        {
            "name": "{{divide_layer}}",
            "identifier": "divide_layer",
            "script": "Layer/Divide_Layer.cocoascript"
        },
        {
            "name": "{{unlock_all_layers}}",
            "identifier": "unlock_all_layers",
            "script": "Layer/Unlock_All_Layers.cocoascript"
        },
        {
            "name": "{{click_through_off}}",
            "identifier": "click_through_off",
            "handler": "clickThroughOff",
            "script": "Layer/Click_Through.cocoascript"
        },
        {
            "name": "{{click_through_on}}",
            "identifier": "click_through_on",
            "handler": "clickThroughOn",
            "script": "Layer/Click_Through.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_group}}",
            "identifier": "select_layers_by_type_group",
            "handler": "selectAllGroupsInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_text}}",
            "identifier": "select_layers_by_type_text",
            "handler": "selectAllTextsInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_shape}}",
            "identifier": "select_layers_by_type_shape",
            "handler": "selectAllShapesInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_image}}",
            "identifier": "select_layers_by_type_image",
            "handler": "selectAllImagesInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_symbol_instance}}",
            "identifier": "select_layers_by_type_symbol_instance",
            "handler": "selectAllSymbolInstancesInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_layers_by_type_slice}}",
            "identifier": "select_layers_by_type_slice",
            "handler": "selectAllSlicesInSelection",
            "script": "Layer/Select_Layers_By_Type.cocoascript"
        },
        {
            "name": "{{select_all_hidden_layers}}",
            "identifier": "select_all_hidden_layers",
            "script": "Layer/Select_All_Hidden_Layers.cocoascript"
        },
        {
            "name": "{{select_all_child_layers}}",
            "identifier": "select_all_child_layers",
            "script": "Layer/Select_All_Child_Layers.cocoascript"
        },
        {
            "name": "{{clear_layer_name}}",
            "identifier": "clear_layer_name",
            "script": "Layer/Clear_Layer_Name.cocoascript"
        },
        {
            "name": "{{delete_all_empty_groups}}",
            "identifier": "delete_all_empty_groups",
            "script": "Layer/Delete_All_Empty_Groups.cocoascript"
        },
        {
            "name": "{{remove_redundant_groups}}",
            "identifier": "remove_redundant_groups",
            "script": "Layer/Remove_Redundant_Groups.cocoascript"
        },
        {
            "name": "{{create_include_layer}}",
            "identifier": "create_include_layer",
            "handler": "createIncludeLayer",
            "script": "Layer/Include_Layers.cocoascript"
        },
        {
            "name": "{{sync_include_layers}}",
            "identifier": "sync_include_layers",
            "handler": "syncIncludeLayers",
            "script": "Layer/Include_Layers.cocoascript"
        },
        {
            "name": "{{reverse_order_and_close_path}}",
            "identifier": "reverse_order_and_close_path",
            "script": "Layer/Reverse_Order_And_Close_Path.cocoascript"
        },
        {
            "name": "{{change_layer_places}}",
            "identifier": "change_layer_places",
            "script": "Arrange/Change_Places.cocoascript"
        },
        {
            "name": "{{change_layer_places_center}}",
            "identifier": "change_layer_places_center",
            "script": "Arrange/Change_Places.cocoascript"
        },
        {
            "name": "{{tile_layers_by_position_x}}",
            "identifier": "tile_layers_by_position_x",
            "handler": "tileLayersByPositionX",
            "script": "Arrange/Tile_Objects.cocoascript"
        },
        {
            "name": "{{tile_layers_by_position_y}}",
            "identifier": "tile_layers_by_position_y",
            "handler": "tileLayersByPositionY",
            "script": "Arrange/Tile_Objects.cocoascript"
        },
        {
            "name": "{{tile_layers_horizontally_by_index}}",
            "identifier": "tile_layers_horizontally_by_index",
            "handler": "tileLayersHorizontallyByIndex",
            "script": "Arrange/Tile_Objects.cocoascript"
        },
        {
            "name": "{{tile_layers_vertically_by_index}}",
            "identifier": "tile_layers_vertically_by_index",
            "handler": "tileLayersVerticallyByIndex",
            "script": "Arrange/Tile_Objects.cocoascript"
        },
        {
            "name": "{{order_layers_by_x}}",
            "identifier": "order_layers_by_x",
            "handler": "orderLayersByX",
            "script": "Arrange/Order_Layers_by_Position_XY.cocoascript"
        },
        {
            "name": "{{order_layers_by_y}}",
            "identifier": "order_layers_by_y",
            "handler": "orderLayersByY",
            "script": "Arrange/Order_Layers_by_Position_XY.cocoascript"
        },
        {
            "name": "{{reverse_layer_order}}",
            "identifier": "reverse_layer_order",
            "script": "Arrange/Reverse_Layer_Order.cocoascript"
        },
        {
            "name": "{{order_layers_by_name}}",
            "identifier": "order_layers_by_name",
            "script": "Arrange/Order_Layers_by_Name.cocoascript"
        },
        {
            "name": "{{order_layers_by_kind}}",
            "identifier": "order_layers_by_kind",
            "script": "Arrange/Order_Layers_by_Kind.cocoascript"
        },
        {
            "name": "{{capitalize}}",
            "identifier": "capitalize",
            "script": "Type/Capitalize.cocoascript"
        },
        {
            "name": "{{change_typeface_for_the_latin_character_set}}",
            "identifier": "change_typeface_for_the_latin_character_set",
            "script": "Type/Change_Typeface_for_the_Latin_Character_Set.cocoascript"
        },
        {
            "name": "{{add_space_between_cjk_and_western_character}}",
            "identifier": "add_space_between_cjk_and_western_character",
            "script": "Type/Add_Space_Between_CJK_and_Western_Character.cocoascript"
        },
        {
            "name": "{{unfixed_layer_name}}",
            "identifier": "unfixed_layer_name",
            "script": "Type/Unfixed_Layer_Name.cocoascript"
        },
        {
            "name": "{{replace_missing_fonts}}",
            "identifier": "replace_missing_fonts",
            "script": "Type/Replace_Missing_Fonts.cocoascript"
        },
        {
            "name": "{{replace_fonts}}",
            "identifier": "replace_fonts",
            "script": "Type/Replace_Fonts.cocoascript"
        },
        {
            "name": "{{new_layer_base_slice}}",
            "identifier": "new_layer_base_slice",
            "handler": "new_slice_for_normal",
            "script": "Slice/New_Layer_Base_Slice_With_Preset.cocoascript"
        },
        {
            "name": "{{new_layer_base_slice_for_ios_1x}}",
            "identifier": "new_layer_base_slice_for_ios_1x",
            "handler": "new_slice_for_ios_1x",
            "script": "Slice/New_Layer_Base_Slice_With_Preset.cocoascript"
        },
        {
            "name": "{{new_layer_base_slice_for_android_1x}}",
            "identifier": "new_layer_base_slice_for_android_1x",
            "handler": "new_slice_for_android_1x",
            "script": "Slice/New_Layer_Base_Slice_With_Preset.cocoascript"
        },
        {
            "name": "{{new_slice_base_slice_for_web}}",
            "identifier": "new_slice_base_slice_for_web",
            "handler": "new_slice_for_web",
            "script": "Slice/New_Layer_Base_Slice_With_Preset.cocoascript"
        },
        {
            "name": "{{new_layer_base_slice_for_svg}}",
            "identifier": "new_layer_base_slice_for_svg",
            "handler": "new_slice_for_svg",
            "script": "Slice/New_Layer_Base_Slice_With_Preset.cocoascript"
        },
        {
            "name": "{{reset_export_options}}",
            "identifier": "reset_export_options",
            "script": "Slice/Reset_Export_Options.cocoascript"
        },
        {
            "name": "{{clear_slices}}",
            "identifier": "clear_slices",
            "script": "Slice/Clear_Slices.cocoascript"
        },
        {
            "name": "{{clear_exportables}}",
            "identifier": "clear_exportables",
            "script": "Slice/Clear_Exportables.cocoascript"
        },
        {
            "name": "{{artboard_from_selection}}",
            "identifier": "artboard_from_selection",
            "script": "Artboard/Artboard_from_Selection.cocoascript"
        },
        {
            "name": "{{artboard_from_group}}",
            "identifier": "artboard_from_group",
            "script": "Artboard/Artboard_From_Group.cocoascript"
        },
        {
            "name": "{{artboard_to_group}}",
            "identifier": "artboard_to_group",
            "script": "Artboard/Artboard_to_Group.cocoascript"
        },
        {
            "name": "{{export_all_artboars_to_png}}",
            "identifier": "export_all_artboars_to_png",
            "script": "Artboard/Export_All_Artboars_to_PNG.cocoascript"
        },
        {
            "name": "{{export_all_artboars_to_html}}",
            "identifier": "export_all_artboars_to_html",
            "script": "Artboard/Export_All_Artboars_to_HTML.cocoascript"
        },
        {
            "name": "{{switch_between_portrait_and_landscape}}",
            "identifier": "switch_between_portrait_and_landscape",
            "script": "Artboard/Switch_Between_Portrait_and_Landscape.cocoascript"
        },
        {
            "name": "{{resize_to_fit_height}}",
            "identifier": "resize_to_fit_height",
            "script": "Artboard/Resize_to_Fit_Height.cocoascript"
        },
        {
            "name": "{{move_symbol_masters_to_bottom_of_another}}",
            "identifier": "move_symbol_masters_to_bottom_of_another",
            "script": "Symbol/Move_Symbol_Masters_to_Bottom_of_Another.cocoascript"
        },
        {
            "name": "{{select_all_missing_instances_in_current_page}}",
            "identifier": "select_all_missing_instances_in_current_page",
            "script": "Symbol/Select_All_Missing_Instances_in_Current_Page.cocoascript"
        },
        {
            "name": "{{select_all_instances_of_symbol}}",
            "identifier": "select_all_instances_of_symbol",
            "script": "Symbol/Select_All_Instances_of_Symbol.cocoascript"
        },
        {
            "name": "{{rename_instances}}",
            "identifier": "rename_instances",
            "script": "Symbol/Rename_Instances.cocoascript"
        },
        {
            "name": "{{rename_all_instances}}",
            "identifier": "rename_all_instances",
            "script": "Symbol/Rename_All_Instances.cocoascript"
        },
        {
            "name": "{{selection_to_symbol_master}}",
            "identifier": "selection_to_symbol_master",
            "script": "Symbol/Selection_to_Symbol.cocoascript"
        },
        {
            "name": "{{detach_unused_symbol_master}}",
            "identifier": "detach_unused_symbol_master",
            "script": "Symbol/Detach_Unused_Symbol_Master.cocoascript"
        },
        {
            "name": "{{remove_unused_symbols}}",
            "identifier": "remove_unused_symbols",
            "script": "Symbol/Remove_Unused_Symbols.cocoascript"
        },
        {
            "name": "{{set_to_original_width}}",
            "identifier": "set_to_original_width",
            "script": "Symbol/Set_to_Original_Width_or_Height.cocoascript"
        },
        {
            "name": "{{set_to_original_height}}",
            "identifier": "set_to_original_height",
            "script": "Symbol/Set_to_Original_Width_or_Height.cocoascript"
        },
        {
            "name": "{{export_all_symbols_as_png}}",
            "identifier": "export_all_symbols_as_png",
            "script": "Symbol/Export_All_Symbols_As_PNG.cocoascript"
        },
        {
            "name": "{{sync_symbol_master_from_sketch_file}}",
            "identifier": "sync_symbol_master_from_sketch_file",
            "script": "Symbol/Sync_Symbol_Master_from_Sketch_File.cocoascript"
        },
        {
            "name": "{{replace_pages_form_sketch_file}}",
            "identifier": "replace_pages_form_sketch_file",
            "script": "Symbol/Replace_Pages_form_Sketch_File.cocoascript"
        },
        {
            "name": "{{add_solid_fill_from_css_color}}",
            "identifier": "add_solid_fill_from_css_color",
            "script": "Style/Add_Solid_Fill_from_CSS_Color.cocoascript"
        },
        {
            "name": "{{fill_color_from_global_colors}}",
            "identifier": "fill_color_from_global_colors",
            "handler": "fillColorFromGlobalColors",
            "shortcut": "cmd \\",
            "script": "Style/Fill_Color_from_Colors.cocoascript"
        },
        {
            "name": "{{fill_color_from_document_colors}}",
            "identifier": "fill_color_from_document_colors",
            "handler": "fillColorFromDocumentColors",
            "shortcut": "cmd alt \\",
            "script": "Style/Fill_Color_from_Colors.cocoascript"
        },
        {
            "name": "{{remove_all_unused_styles}}",
            "identifier": "remove_all_unused_styles",
            "script": "Style/Remove_All_Unused_Styles.cocoascript"
        },
        {
            "name": "{{import_document_assets_from_sketch_file}}",
            "identifier": "import_document_assets_from_sketch_file",
            "script": "Style/Import_Document_Assets_From_Sketch_File.cocoascript"
        },
        {
            "name": "{{import_text_styles_from_sketch_file}}",
            "identifier": "import_text_styles_from_sketch_file",
            "script": "Style/Import_Text_Styles_from_Sketch_File.cocoascript"
        },
        {
            "name": "{{import_layer_styles_from_sketch_file}}",
            "identifier": "import_layer_styles_from_sketch_file",
            "script": "Style/Import_Layer_Styles_from_Sketch_File.cocoascript"
        },
        {
            "name": "{{create_color_guide}}",
            "identifier": "create_color_guide",
            "script": "Style/Create_Color_Guide.cocoascript"
        },
        {
            "name": "{{create_typography_guide}}",
            "identifier": "create_typography_guide",
            "script": "Style/Create_Typography_Guide.cocoascript"
        },
        {
            "name": "{{clear_guides}}",
            "identifier": "clear_guides",
            "script": "Guide/Clear_Guides.cocoascript"
        },
        {
            "name": "{{svg_export_setting}}",
            "identifier": "svg_export_setting",
            "script": "Utilities/SVG_Export_Setting.cocoascript"
        },
        {
            "name": "{{nudge_distance_setting}}",
            "identifier": "nudge_distance_setting",
            "script": "Utilities/Nudge_Distance_Setting.cocoascript"
        },
        {
            "name": "{{show_file_in_finder}}",
            "identifier": "show_file_in_finder",
            "handler": "showFileInFinder",
            "script": "Utilities/Utilities.cocoascript"
        },
        {
            "name": "{{open_terminal_at_file_folder}}",
            "identifier": "open_terminal_at_file_folder",
            "handler": "openTerminalAtFileFolder",
            "script": "Utilities/Utilities.cocoascript"
        },
        {
            "name": "{{web_site}}",
            "identifier": "web_site",
            "handler": "website",
            "script": "Utilities/help.cocoascript"
        },
        {
            "name": "{{report_issue}}",
            "identifier": "report_issue",
            "handler": "reportIssue",
            "script": "Utilities/help.cocoascript"
        },
        {
            "name": "{{check_for_updates}}",
            "identifier": "check_for_updates",
            "handler": "checkForUpdates",
            "script": "Utilities/help.cocoascript"
        },
        {
            "name": "{{donate}}",
            "identifier": "donate",
            "handler": "donate",
            "script": "Utilities/help.cocoascript"
        },
        {
            "name": "{{change_language}}",
            "identifier": "change_language",
            "script": "Utilities/Change_Languages.cocoascript"
        }
    ],
    "menu": {
        "isRoot": false,
        "title": "{{automate}}",
        "items": [
            {
                "title": "{{layer}}",
                "items": [
                    "fix_to_parent_width_with_margin",
                    "fix_to_parent_height_with_margin",
                    "-",
                    "bounds_layer_for_every_selection",
                    "divide_layer",
                    "-",
                    "unlock_all_layers",
                    "-",
                    "click_through_off",
                    "click_through_on",
                    "-",
                    {
                        "title": "{{select_layers_by_type}}",
                        "items": [
                            "select_layers_by_type_group",
                            "select_layers_by_type_text",
                            "select_layers_by_type_shape",
                            "select_layers_by_type_image",
                            "select_layers_by_type_symbol_instance",
                            "select_layers_by_type_slice",
                            "-",
                            "select_all_hidden_layers"
                        ]
                    },
                    "select_all_child_layers",
                    "-",
                    "clear_layer_name",
                    "-",
                    "remove_redundant_groups",
                    "delete_all_empty_groups",
                    "-",
                    "reverse_order_and_close_path",
                    "-",
                    "create_include_layer",
                    "sync_include_layers"
                ]
            },
            {
                "title": "{{arrange}}",
                "items": [
                    "change_layer_places",
                    "change_layer_places_center",
                    "-",
                    "tile_layers_by_position_x",
                    "tile_layers_by_position_y",
                    "tile_layers_horizontally_by_index",
                    "tile_layers_vertically_by_index",
                    "-",
                    {
                        "title": "{{order_layers_by}}",
                        "items": [
                            "order_layers_by_x",
                            "order_layers_by_y",
                            "order_layers_by_name",
                            "order_layers_by_kind"
                        ]
                    },
                    "reverse_layer_order"
                ]
            },
            {
                "title": "{{type}}",
                "items": [
                    "capitalize",
                    "-",
                    "change_typeface_for_the_latin_character_set",
                    "add_space_between_cjk_and_western_character",
                    "-",
                    "replace_fonts",
                    "replace_missing_fonts",
                    "-",
                    "select_all_textLayer_in_selected_group",
                    "-",
                    "unfixed_layer_name"
                ]
            },
            {
                "title": "{{slice}}",
                "items": [
                    "new_layer_base_slice",
                    "new_layer_base_slice_for_ios_1x",
                    "new_layer_base_slice_for_android_1x",
                    "new_slice_base_slice_for_web",
                    "new_layer_base_slice_for_svg",
                    "-",
                    "reset_export_options",
                    "clear_slices",
                    "clear_exportables"
                ]
            },
            {
                "title": "{{artboard}}",
                "items": [
                    "artboard_from_selection",
                    "artboard_from_group",
                    "artboard_to_group",
                    "-",
                    "resize_to_fit_height",
                    "switch_between_portrait_and_landscape",
                    "-",
                    "export_all_artboars_to_png",
                    "export_all_artboars_to_html"
                ]
            },
            {
                "title": "{{symbol}}",
                "items": [
                    "set_to_original_width",
                    "set_to_original_height",
                    "-",
                    "select_all_missing_instances_in_current_page",
                    "select_all_instances_of_symbol",
                    "rename_instances",
                    "rename_all_instances",
                    "-",
                    "move_symbol_masters_to_bottom_of_another",
                    "selection_to_symbol_master",
                    "detach_unused_symbol_master",
                    "remove_unused_symbols",
                    "-",
                    "export_all_symbols_as_png",
                    "-",
                    "sync_symbol_master_from_sketch_file",
                    "replace_pages_form_sketch_file"
                ]
            },
            {
                "title": "{{style}}",
                "items": [
                    "add_solid_fill_from_css_color",
                    "fill_color_from_global_colors",
                    "fill_color_from_document_colors",
                    "-",
                    "remove_all_unused_styles",
                    "-",
                    "create_color_guide",
                    "create_typography_guide",
                    "-",
                    "import_document_assets_from_sketch_file",
                    "import_text_styles_from_sketch_file",
                    "import_layer_styles_from_sketch_file"
                ]
            },
            {
                "title": "{{guide}}",
                "items": [
                    "clear_guides"
                ]
            },
            {
                "title": "{{utilities}}",
                "items": [
                    "svg_export_setting",
                    "nudge_distance_setting",
                    "-",
                    "show_file_in_finder",
                    "open_terminal_at_file_folder"
                ]
            },
            {
                "title": "{{help}}",
                "items": [
                    "web_site",
                    "report_issue",
                    "check_for_updates",
                    "-",
                    "change_language",
                    "-",
                    "donate"
                ]
            }
        ]
    }
}
