<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords | join: ', ' }}">
<meta name="author" content="{{ site.author }}, {{ site.email }}">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
<link rel="stylesheet" href="{{ "css/style.css" }}">
{% unless site.host == "127.0.0.1" %}
    {% assign homeUrl = site.ghpageUrl %}
{% else unless %}
    {% assign homeUrl = "/" %}
{% endunless %}
</head>
<body>
    <header>
        <hgroup class="logo">
            <a href="{{ homeUrl }}" rel="home">
                <h1>{{ site.title }}</h1>
            </a>
        </hgroup>
    </header>
    <section>
        <ul class="plugins">
            {% for plugin in page.sketchPlugins reversed %}
            {% assign count = forloop.length %}
            {% assign index = forloop.index %}
            {% assign title = plugin.title %}
            {% assign uriFileName =  plugin.title | uri_escape | append: ".sketchplugin" %}
            {% assign imageFileName =  plugin.title | replace: " ", "_" | downcase | append: ".gif" %}
            {% assign fileUrl = site.projectUrl | append: "raw/master/" | append: uriFileName %}
            {% assign codeUrl = site.projectUrl | append: "blob/master/" | append: uriFileName %}
            <li id="plugin-{{ index }}">
                <div class="item-figure">
                    <img class="item-image" src="images/{{ imageFileName }}" alt="{{ title }}">
                    <div class="item-links">
                        <a class="link-code" href="{{ codeUrl }}">View Code<i>&nbsp;</i></a>
                        <a class="link-download" href="{{ fileUrl }}">Download Plugin<i>&nbsp;</i></a>
                    </div>
                </div>
                <div class="item-title">
                    {{ title }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <footer>
        <div class="diver">&nbsp;</div>
        <div class="author">
            <p>
                I'm Ashung Hung, a UI designer, web front-end and a Buddhist, who live in Shenzhen China with my lover and 3 cats.
            </p>
            <p>
                I'm a beginer in Sketch plugin development. Automate Sketch is my collection of plugins for Bohemian Coding's Sketch.app. All plugin released under the MIT license.
            </p>
            <p>
                Follow me on
                <a href="https://github.com/Ashung">Github</a>,
                <a href="https://dribbble.com/ashung">Dribbble</a>,
                <a href="https://behance.net/ashung">Behance</a>,
                <a href="http://weibo.com/ashung">Weibo</a>.
            </p>
        </div>
        <!--
        <div class="donate">
            <p title="NEED MONEY FOR CAT FOOD" style="font-size:1.5em;">
                🙇💵💶💷👉😿🍽
            </p>
            <p>Paypal</p>
            <p>Alipay</p>
            <p>Wechat Pay</p>
        </div>
        -->
        <a class="ribbon" href="{{ site.projectUrl }}">Fork me on GitHub</a>
    </footer>
</body>
</html>