<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords | join: ', ' }}">
<meta name="author" content="{{ site.author }}, {{ site.email }}">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
<link rel="stylesheet" href="{{ "css/style.css" }}">
<script>
    function foo(response) {
        var data = response.data;
        var star = data.stargazers_count;
        if(star) {
            document.getElementById("project-star").innerHTML = star;
        }
    }
    var script = document.createElement('script');
    script.src = 'https://api.github.com/repos/Ashung/Automate-Sketch?callback=foo';
    document.getElementsByTagName('head')[0].appendChild(script);
</script>
{% unless site.host == "127.0.0.1" %}
{% assign homeUrl = site.ghpageUrl %}
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?776d4b84501659ee9df066260e5bd1a0";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{% else unless %}
{% assign homeUrl = "/" %}
{% endunless %}
</head>
<body>
    <header>
        <hgroup class="logo">
            <a href="{{ homeUrl }}" rel="home">
                <h1>{{ site.title }}</h1>
            </a>
            <p class="porject-badge">
                <span class="star">
                    <i>&nbsp;</i>Star <span id="project-star">0</span>
                </span>
                <a class="download" href="https://github.com/Ashung/Automate-Sketch/archive/master.zip">
                    <i>&nbsp;</i>Download
                </a>
            </p>
        </hgroup>
    </header>
    <section>
        <ul class="plugins">
            {% for plugin in page.menus reversed %}
            {% assign count = forloop.length %}
            {% assign index = forloop.index %}
            {% assign title = plugin.title %}
            {% assign code = plugin.code %}
            {% assign imageFileName =  plugin.title | replace: " ", "_" | downcase | append: ".gif" %}
            {% assign codeUrl = site.projectUrl | append: "tree/master/automate-sketch.sketchplugin/Contents/Sketch/" | append: code %}
            <li id="plugin-{{ index }}">
                <div class="item-figure">
                    <img class="item-image" src="images/{{ imageFileName }}" alt="{{ title }}">
                    <div class="item-links">
                        <a class="link-code" href="{{ codeUrl }}">View Code<i>&nbsp;</i></a>
                        <!--<a class="link-download" href="{{ fileUrl }}">Download Plugin<i>&nbsp;</i></a>-->
                    </div>
                </div>
                <div class="item-title">
                    {{ title }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <footer>
        <div class="diver">&nbsp;</div>
        <div class="author">
            <p>
                I'm Ashung Hung, a UI designer, web front-end developer and a Buddhist, who live in Shenzhen China with my lover and 3 cats.
            </p>
            <p>
                Automate Sketch plugin released under <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution 4.0 International License (CC-BY-SA 4.0)</a>.
            </p>
            <p>
                Follow me on
                <a href="https://github.com/Ashung">Github</a>,
                <a href="https://dribbble.com/ashung">Dribbble</a>,
                <a href="https://behance.net/ashung">Behance</a>,
                <a href="http://weibo.com/ashung">Weibo</a>.
            </p>
            <p class="donate-paypal">
                PayPal:
                <a href="https://www.paypal.me/ashung/2">$ 2.<small>00</small></a>
                <a href="https://www.paypal.me/ashung/5">$ 5.<small>00</small></a>
            </p>
            <p>
                打开 "微信" 或 "支付宝", 扫一扫打赏 2 元。<br>
                <img src="http://ashung.github.io/assets/img/wechat_rmb_2.png" alt="Wechat"/>
                <img src="http://ashung.github.io/assets/img/alipay_rmb_2.png" alt="Alipay"/>
                <br>
                打赏后可 <a href="{{ site.issuesUrl }}">提需求</a>。
            </p>
        </div>
        <a class="ribbon" href="{{ site.projectUrl }}">Fork me on GitHub</a>
    </footer>
</body>
</html>